= form_tag(search_path, :method => "get", class: "form-search") do 
  = text_field_tag(:q, nil, :placeholder => "search", class: "input-medium search-query")
  = submit_tag "Search", class: "btn btn-primary"

- unless params[:q] == nil
  %p= "Here are all the links that matched \"#{params[:q]}\""
%ul.unstyled
  - @links.each do |link| 
    %li
      - if current_user && current_user.votes.where(:link_id => link.id, :up => true).present?
        = '<i class="icon-arrow-up" style="color:orange"></i>'.html_safe
      - else
        = link_to '<i class="icon-arrow-up" style="color:grey"></i>'.html_safe, votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post
      = link_to link.title, link.url
      %br
      = "(#{link.votes.where(:up => true).count - link.votes.where(:up => false).count})"
      %span.up-vote= "#{link.votes.where(:up => true).count}"
      = "|"
      %span.down-vote= "#{link.votes.where(:up => false).count}"
      %br
      - if current_user && current_user.votes.where(:link_id => link.id, :up => false).present?
        = '<i class="icon-arrow-down" style="color:blue"></i>'.html_safe
      - else
        = link_to '<i class="icon-arrow-down" style="color:grey"></i>'.html_safe, votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post 
      = link_to "Comments", link_path(link)
= will_paginate @links, renderer: BootstrapPagination::Rails